:root {
    --color-cherry: #75162E;
    --color-cherry-dark: #2d040e;
    --color-cream-soft: #eee4cc;
    --color-cream: #F2E5C5;
    --color-gold-muted: #F2D9A3;
}

body {
    background-color: var(--color-cream-soft);
    color: var(--color-cherry);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-placeholder {
    width: 45%;
    height: 25%;
    border-radius: 12px;
    min-height: 350px;
    overflow: hidden; 
}


#image-upload-label {
    position: relative;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%; 
    background-color: #e7e7e7;
    min-height: 400px; 
    overflow: hidden; 
    cursor: pointer;
    transition: 0.3s;
}

#image-upload-label:hover {
    background-color: #cccccc; 
}

#upload-content-placeholder {
    text-align: center;
    color: var(--color-cherry); 
    font-size: 1.1rem;
    font-weight: bold;
}

#upload-icon {
    font-size: 3rem;
    display: block;
    margin-bottom: 10px;
}


.main-content {
    
    width: 100%;
    margin-top: 0px !important; 
    max-width: 1100px;
    border-radius: 4px;
    padding: 30px 40px;
    position: relative;
}

.page-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--color-cherry);
}


.content-layout {
    background-color: var(--color-cherry);
    display: flex;
    gap: 30px;
    justify-content: space-around;
    padding: 30px;
    border-radius: 12px;
    align-items: center;
    position: relative;
}



.form-card {
    color: var(--color-gold-muted);
    width: 55%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

input, select{
    padding: 7px;
    font-size: 1rem;
    flex: 1;
}

.form-group label {
    width: 130px;       
    min-width: 130px;   
    white-space: nowrap;
    text-align: right;
    padding-right: 0.5%;
}

#code{
    border: none;
    cursor:default;
}
#code:hover{
    border: none;
}
#code:focus{
   box-shadow: none;
    transform: scale(1);
}


.submit-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    position: absolute;
    bottom: -25px;
    
    left: 0;
    width: 100%;
}

.submit-btn-container button{
    width: 25%;
}

.submit-btn {
    background-color: #009922 !important; 
    color: white;
    background: none;
}
select{
    width: 100%;
}


#upload-content-placeholder {
    position: relative;
}

#image-preview {
    position: absolute;
    width: 100%;
    transition: opacity 0.3s ease; 
    cursor: pointer; 
}

#image-preview:hover {
    opacity: 0.2;
}