body {
    margin: 0;
    background: url(/img/bg.png) repeat, #3B010B;
    overflow-x: hidden;
}

.main-content {
    padding-top: 120px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 450px;
}

.btn-solid {
    background-color: #5d0e1a;
    color: #ffffff;
    text-align: center;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid #4a0a14;
    transition: 0.2s;
}

.btn-solid:hover {
    background-color: #7a1222;
    color: rgb(255, 244, 183);
}