.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #75162D;
    width: 80%;
    padding-block: 1%;
    padding-inline: 2%;
    box-sizing: border-box;
    gap: 2%;
}

h1 {
    text-align: center;
    color: #75162D;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.search-icon {
    font-size: 20px;
    margin-right: 1%;
}

p {
    color: white;
    margin: 5px;
}

input,
select {
    width: 100%;
    box-sizing: border-box;
}

.search-container {
    flex: 1;
}

.main-content {
    margin-top: 40px;
}

@media screen and (max-width: 768px) {
    .brand-side {
        flex: 0;
    }

    .container {
        flex-wrap: wrap;
        justify-content: left;
        align-items: flex-start;
        width: 90%;
        padding: 1%;
        gap: 10px;
        box-sizing: border-box;
        position: relative;
    }

    body {
        flex-direction: column !important;
        overflow-y: auto;
    }

    .main-content {
        max-height: none;
        height: auto;
        width: 100% !important;
        margin-left: 0 !important;
        padding: 20px 10px;
        justify-content: flex-start;
    }

    .container {
        flex-direction: column;
        width: 95%;
        align-items: stretch;
        gap: 5px;
    }

    h1 {
        font-size: 1.5rem;
    }

    input,
    select,
    .style-button {
        width: 100% !important;
        margin: 5px 0;
        box-sizing: border-box;
    }

    .add-user-btn {
        top: -10;
        right: 0;
    }

    .table-scroll-container {
        width: 95%;
    }
}