input {
    width: 20%;
    padding: 15px;
    margin: 1%;
    background-color: #75162D;
    border: 1px solid #F2D9A0;
    color: #F2D9A0;
    border-radius: 5px;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(70%) sepia(50%) saturate(400%) hue-rotate(10deg);
    cursor: pointer;
}

input::placeholder {
    color: #f2d9a07c;
    
}


input::-webkit-input-placeholder {
    color: #f2d9a07c;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: #F2D9A0 !important;
    box-shadow: 0 0 0px 1000px #75162D inset;
    transition: all 0.3s ease-in-out;
}

input:hover {
    border-color: #3B010B;
    background-color: #75162D;
    cursor:text;
}

input:focus {
    border-color: #3B010B;
    background-color: #75162D;
    box-shadow: 0 0 8px #3B010B;
    transform: scale(1.02);
}



select {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1%;
    background-color: #75162D;
    border: 1px solid #F2D9A0;
    border-radius: 5px;
    color: #F2D9A0;
    padding: 15px;
}