body {
    margin: 0;
    background: url(/img/big-background.png) repeat, #3B010B;
    background-size: cover;
    overflow-x: hidden;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

th {
    background-color: #75162D;
    color: #F2D9A0;
    padding: 10px;
    border: 1px solid #3B010B;
}

td {
    color: #3B010B;
    padding: 10px;
    border: 1px solid #3B010B;
    text-align: center;
}

tr {
    background-color: #F2D9A0;
}

tr:nth-child(odd) {
    background-color: #F2E5C5;
}

.table-scroll-container {
    width: 80%; 
    max-height: 60vh; 
    overflow-y: auto; 
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    
    
    border: 1px solid #3B010B; 
}

.table-scroll-container thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #75162D; 
    color: white;
    
    
    box-shadow: inset 0 -1px 0 #3B010B, inset 0 1px 0 #3B010B; 
}